<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SETTINGS</title>
</head>

<body style="background-color:rgba(31,9,141,0.5);margin:auto;width:90%;border:3px black;padding: 10px;">
    <h1 style="color:Navy">Hello!</h1>

    <form method="post" action="/app0">
    <label for="freq0">Freq:</label>
    <input type="text" id="freq0" name="freq0" placeholder="1...">
    <label for="multi0">Multiplier:</label>
    <input type="text" id="multi0" name="multi0" placeholder="1...">
    <label for="start0">Start/Stop:</label>
    <input type="text" id="start0" name="start0" placeholder="start/stop">
    <label for="source0">Source:</label>
    <input type="text" id="source0" name="source0" placeholder="http/mqtt">
    <button type="submit">Change Data of AppOne</button>
    </form>



    <form method="post" action="/app1">
    <label for="freq1">Freq:</label>
    <input type="text" id="freq1" name="freq1" placeholder="1...">
    <label for="multi1">Multiplier:</label>
    <input type="text" id="multi1" name="multi1" placeholder="1...">
    <label for="start1">Start/Stop:</label>
    <input type="text" id="start1" name="start1" placeholder="start/stop">
    <label for="source1">Source:</label>
    <input type="text" id="source1" name="source1" placeholder="http/mqtt">
    <button type="submit">Change Data of AppTwo</button>
    </form>



    <form method="post" action="/app2">
    <label for="freq2">Freq:</label>
    <input type="text" id="freq2" name="freq2" placeholder="1...">
    <label for="multi2">Multiplier:</label>
    <input type="text" id="multi2" name="multi2" placeholder="1...">
    <label for="start2">Start/Stop:</label>
    <input type="text" id="start2" name="start2" placeholder="start/stop">
    <label for="source2">Source:</label>
    <input type="text" id="source2" name="source2" placeholder="http/mqtt">
    <button type="submit">Change Data of AppThree</button>
    </form>



    <form method="post" action="/app3">
    <label for="freq3">Freq:</label>
    <input type="text" id="freq3" name="freq3" placeholder="1...">
    <label for="multi3">Multiplier:</label>
    <input type="text" id="multi3" name="multi3" placeholder="1...">
    <label for="start3">Start/Stop:</label>
    <input type="text" id="start3" name="start3" placeholder="start/stop">
    <label for="source3">Source:</label>
    <input type="text" id="source3" name="source3" placeholder="http/mqtt">
    <button type="submit">Change Data of AppFour</button>
    </form>



    <form method="post" action="/app4">
    <label for="freq4">Freq:</label>
    <input type="text" id="freq4" name="freq4" placeholder="1...">
    <label for="multi4">Multiplier:</label>
    <input type="text" id="multi4" name="multi4" placeholder="1...">
    <label for="start4">Start/Stop:</label>
    <input type="text" id="start4" name="start4" placeholder="start/stop">
    <label for="source4">Source:</label>
    <input type="text" id="source4" name="source4" placeholder="http/mqtt">
    <button type="submit">Change Data of AppFive</button>
    </form>

 <form action="/info">
    <button type="submit">Go to Info</button>
 </form>

</body>
</html>
